@import '../variables.scss';

// @file
// Todo styles

.todo {
  @include constrain(600px);

  margin-top: $spacing-3;
}

.todo__add {
  align-items: center;
  display: flex;
  justify-content: center;
}

.todo__form {
  flex-basis: calc(100% - 127px);
  padding: $spacing-2 0;
}

.todo__input {
  appearance: none;
  border: solid 1px transparent;
  box-shadow: none;
  color: $black;
  font-family: $base-font-family;
  font-size: $font-size-sm;
  height: rem(45px);
  padding: 0 $spacing-1;
  width: 100%;

  &::placeholder {
    color: $gray-5;
    font-family: $base-font-family;
    font-size: $font-size-sm;
  }

  &:focus {
    border: solid 1px $teal-dark;
    outline: none;
  }
}

.todo__btn {
  @include button-clear();

  background-color: $teal-dark;
  color: $blue-darkest;
  display: inline-block;
  font-family: $header-font-family;
  font-weight: 700;
  height: rem(45px);
  line-height: 1;
  padding: 0 $spacing-3;
  text-transform: uppercase;
}

.todo__filters {
  padding: $spacing-3 0;
}

.todo__item {
  display: inline-block;
  font-family: $header-font-family;
  font-size: $font-size-xs;
  font-weight: 700;
  margin: 0 $spacing-1 0 0;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;

  label {
    border: solid 2px $teal-dark;
    color: $white;
    display: block;
    padding: $spacing-1 $spacing-2;
  }
}

.todo__checkbox {
  appearance: none;
  cursor: pointer;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;

  &:checked ~ label {
    border-color: $teal-dark;
    background-color: $teal-dark;
    color: $blue-darker;
  }
}

.todo__list {
  @include list-clean();

  padding: $spacing-3 0;
}
