// @file
// Colors

$black: #212121;
$white: #ffffff;
$gray-1: #EFEFEF;
$gray-2: #F6F6F6;
$gray-3: #CCCCCC;
$gray-4: #999;
$gray-5: #333;

// Brand colors

$blue-darkest: #1a1a2e;
$blue-darker: #132743;
$blue: #262E44;
$sand-dark: #F3DFAA;

$teal-light: #c6fced;
$teal: #8ad7c1;
$teal-dark: #80ffdb;

// Utility colors
// error
$red: #ff0000;
$red-dark: #660000;

// warning
$yellow: #ffff00;
$yellow-dark: #ffbf00;

// success
$green: #7CFC00;
$green-dark: #008000;

// gradients
$gradient-dark: linear-gradient(to top, $blue-darkest, $blue-darker)